* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-container{
    padding: 1%;
}
.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 18rem;
    background: #404E5D;
    color: #ffffff;
    padding: 2px;
}
.btn-contact {
    background: #E97017;
    columns: #404E5D;
    outline: none;
}
.btn-contact:hover {
    background: rgb(206, 131, 78);
    color: #ffffff;
}
.contact {
    border: 1px solid red;
}
@media screen and (max-width: 770px) {
    .card {
        width: 23rem;
    }
}
@media screen and (max-width: 430px) {
    .card {
        width: 100%;
    }
}
